{{each this}}
<div class="photo-card">
<a href="{{largeImageURL}}" class="gallery__link"></a>
  <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy"
  width="392" height="264"/>
  <div class="info">
    <p class="info-item">
      <b>Likes: <span class="nums">{{likes}}</span>   </b>
    </p>
    <p class="info-item">
      <b>Views: <span class="nums">{{views}}</span></b>
    </p>
    <p class="info-item">
      <b>Comments: <span class="nums">{{comments}}</span></b>
    </p>
    <p class="info-item">
      <b>Downloads: <span class="nums">{{downloads}}</span></b>
    </p>
  </div>
</div>`
{{each}}